<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue JS</title>
  <style>
    .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid black;
      display: inline-block;
      margin: 40px;
    }
    .red {background-color: red;}
    .blue {background-color: blue;}
    .green {background-color: green;}

  </style>
</head>
<body>
  <div id="app">

   <ul>
    <li v-for="(person, index) of people">{{index + 1}}. {{person.name}} - <b>{{person.age}}</b> </li>
   </ul>

   <hr>

   <ol>
    <li v-for="num of 4">{{num}}</li>
   </ol>

   <hr>
   <ul>
    <li v-for="(value, key, index) in person"><em>{{index + 1 }} </em> <b>{{key}}</b> {{value}} </li>
   </ul>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>

    new Vue({
      el: "#app",
      data: {
        people: [
          {name: 'Vlad', age: 20},
          {name: 'Max', age: 25},
          {name: 'Igor', age: 30}
        ],
        person: {
          name: 'Max',
          age: 50, 
          job: 'frontend'
        }
      },
      computed:{
  
         },
      methods: {
      }
    })

  </script>
</body>
</html>
